@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");

footer {
  grid-column: 1/4;
  grid-row: 5/6;
  background-color: #f7c5a8;
}

hr {
  color: coral;
  width: 40%;
  margin-left: 450px;
  border: 2px solid coral;
}

.footer-texto-central {
  font-family: "Trade Winds";
  font-size: 15px;
  color: white;
  margin-left: -50px;
  margin-top: 20px;
  text-align: center;
}

.footer-texto-derecho {
    margin-left: 900px;
    margin-bottom: 20px;
    margin-top: -85px;
  }
  

.footer-iconos-redes-sociales {
  float: inline-end;
  width: 30px;
  height: 30px;
  margin: 10px;

  border-radius: 30px;
  box-shadow: 0px 5px 15px -5px gray;
  overflow: hidden;
  position: relative;
  transition: 0.2s linear;
}

.footer-iconos-redes-sociales:hover {
  transform: scale(1.5);
}

.footer-posicion-iconos-sociales {
  margin-left: 1150px;
  margin-top: -20px;
}

.footer-icono-wsp {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px -5px gray;
  overflow: hidden;
  position: relative;
  transition: 1s linear;
}

.footer-icono-wsp:hover {
  transform: rotate(-360deg);
}

.footer-icono-maps {
  width: 30px;
  height: 30px;

  box-shadow: 0px 5px 15px -5px gray;
  overflow: hidden;
  position: relative;
  transition: 1s;
}

.footer-icono-maps:hover {
  transform: scale(1.2);
}

