.header{
    background-color: #ffeadb;
    width: auto;
    height: 150px;   
    max-width: 100%;
}

.foto{
    margin: auto;
    display: block;
}

.foto-titulo{
    width: 80%;
    max-width: 200%;
    height: 150px;
}

/*
.foto-logo{
    height: 100px;
    max-width: 100%;
    
}

.foto-nombre{
    width: 23%;
    max-width: 100%;
    
   
    height: 40px;
}


.foto-eslogan{
    width: 20%;
    max-width: 100%;
    margin-left: -320px;
    margin-bottom: 0px;
    
    height: 30px;
}

<<<<<<< HEAD
header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #ffeadb;
  }

=======

*/
>>>>>>> 13b37288b2b95ac47e7255abf6e26300ba6ddb9d
