@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');



header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #faeee7;
  }

.logo{
    float: left;
    width: 120px;
    height:120px;
    transition: 1s;
}  

.logo:hover{
    transform: rotate(360deg);
}

.titulo{
    float: left;
    width: 500px;
    height: 100px;
    margin-left: 200px;
    margin-top: 10px;
}

.eslogan{
    margin-left: 75px;
    margin-top: 15px;
}




.inp{
    background: url(../Recursos/Header/search.png);
    width: 24px;
    height: 24px;
    margin-left: 80px;
    padding-left: 30px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 2px solid grey;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    font-family: 'Trade Winds' ;
    transition: width 3s;
}

input::placeholder {
    color: black;
   
    font-size: 1.2em;
    font-style: italic;
  }

.inp:hover{
    width: 300px;
   
}
