.header{
    background-color: #ffeadb;
    width: auto;
    height: 150px;   
    max-width: 100%;
}

.foto{
    margin: auto;
    display: block;
}

.foto-titulo{
    width: 80%;
    max-width: 200%;
    height: 150px;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #faeee7;
  }

.logo{
    float: left;
    width: 150px;
    height:150px;
}  

.titulo{
    float: left;
    width: 500px;
    height: 100px;
    margin-left: 300px;
    margin-top: 20px;
    
}


.spann::before{
    background: url(../Recursos/Header/search.png);
    width: 24px;
    height: 24px;
    margin-left: 80px;
    
    display: inline-block;
    content: "";
    vertical-align: middle;
}

.inp{
    border-radius: 5px;
    border: 2px solid grey;
    width: 150px;
    height: 30px;
    margin-top: 50px;
    
    transition: width 3s;
}

.inp:hover{
    width: 300px;
   
}
