
body {
    background-color: #ffc6c7;
  }
  
.index-modo-grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows:
  minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
  minmax(100px, auto) minmax(200px, auto);
  gap: 10px;
}

  
.box-azul {
  background-color: rgb(255, 0, 149);
  border-radius: 7px;        
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
}
.contenido-box-azul {
  color: white;
  text-align: center;
}
.Obtener {
  border-radius: 7px;
  background-color: rgb(71, 255, 178);
  text-align: center;
  padding: 10px 30px;
  color: white;
}
.img-ayuda{
  width: 100px;
  height: 100px;
}
/* paleta de colores
    color: #ffbaba;
    color: #ffeadb;
    color: #f7c5a8;
    color: #678a74;








