
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


/*
Icons made by <a href="https://www.flaticon.com/authors/payungkead" title="Payungkead">Payungkead</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

*/

nav{
  grid-column: 1/2;
  grid-row: 2/4;
 }


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.barra {
  left: 0;
  height: 100%;
  width: auto;
  background-color: #f7c5a8;
  

}

.barra ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
 
  border-bottom: 1px solid black;
  transition: .4s;
  
}

ul li:hover a{
  padding-left: 80px;
  color: #c3f0ca;
  border-radius: 15px;
  box-shadow: 0 0px 30px 0 #c3f0ca inset, 0 0px 3px 0 #c3f0ca,
              0 0px 30px 0 #c3f0ca inset, 0 0px 3px 0 #c3f0ca;
}


.a{
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  font-family: 'Trade Winds' ;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}




.a span{
  position: absolute;
  display: block;
}


.a span:nth-child(1){
  top: 0px;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg,transparent,#ff8ba7);
}

.a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}








.noticia{
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
    margin-right: 5px;
}
