
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');


nav{
  grid-column: 1/2;
  grid-row: 2/4;
 }


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.nav-menu {
  left: 0;
  height: 100%;
  width: auto;
  background-color: #f7c5a8;
  

}

.nav-menu ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid black;
  transition: .4s;
  
}

ul li:hover a{
  padding-left: 80px;
  color: #c3f0ca;
  border-radius: 15px;
  box-shadow: 0 0px 30px 0 #c3f0ca inset, 0 0px 3px 0 #c3f0ca,
              0 0px 30px 0 #c3f0ca inset, 0 0px 3px 0 #c3f0ca;
}


.nav-efecto-linea-deslizante{
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  font-family: 'Trade Winds' ;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

.nav-efecto-linea-deslizante span{
  position: absolute;
  display: block;
}

.nav-efecto-linea-deslizante span:nth-child(1){
  top: 0px;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg,transparent,#ff8ba7);
}

.nav-efecto-linea-deslizante:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

