@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");

section {
  grid-column: 2/3;
  grid-row: 2/5;
  background-color: #ff8ba7;
  border-radius: 20px;
}


/* SECTION INDEX */

.section-titulo{
    font-family: "Trade Winds";
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline solid #ffbaba;
}



.section-destacado1 {
 
    position: absolute;
    float: none;
    background-image: url(../Recursos/Categorias/complementos.png);
    background-size: 155px;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    margin-left: 250px;
    
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .section-destacado1:hover {
    background-image: url(../Recursos/Categorias/destacado1.jpg);
    border-radius: 100px;
    background-size: 155px;
    width: 155px;
    height: 155px;
    background-size: inherit;
    background-repeat: no-repeat;
  }

  
.section-destacado2 {
    position: absolute;
    background-image: url(../Recursos/Categorias/ingredientes.png);
    background-size: 155px;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    margin-left: 700px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .section-destacado2:hover {
    background-image: url(../Recursos/Categorias/destacado2.jpg);
    border-radius: 100px;
    background-size: 155px;
    width: 155px;
    height: 155px;
    background-size: inherit;
    background-repeat: no-repeat;
  }

  .section-destacado3 {
    position: absolute;
    background-image: url(../Recursos/Categorias/pasteles.png);
    background-size: 155px;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    margin-left: 250px;
    margin-top: 220px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .section-destacado3:hover {
    background-image: url(../Recursos/Categorias/destacado3.jpg);
    border-radius: 100px;
    background-size: 155px;
    width: 155px;
    height: 155px;
    background-size: inherit;
    background-repeat: no-repeat;
  }

  .section-destacado4 {
    position: absolute;
    background-image: url(../Recursos/Categorias/utensilios.png);
    background-size: 155px;
    background-repeat: no-repeat;
    width: 155px;
    height: 155px;
    margin-left: 700px;
    margin-top: 220px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .section-destacado4:hover {
    background-image: url(../Recursos/Categorias/destacado4.jpg);
    border-radius: 100px;
    background-size: 155px;
    width: 155px;
    height: 155px;
    background-size: inherit;
    background-repeat: no-repeat;
  }
  
/*  SECTION NOTICIAS  */

h1, h2{
  text-align: center;
  color: #c3f0ca;
  font-family: 'Trade Winds' ;
}

.section-noticias1{
  float: left;
  width: 300px;
  height: 200px;
  margin: 10px;
}


.section-noticias2{
  float: right;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.section-texto-p{
  font-family: 'Trade Winds' ;
  text-align: justify;
  font-size: 15px;
  color: #c3f0ca;
  margin: 50px;
}

/* ESTE CSS ES LA PARTE DE LOS PRECIOS (LA TABLA)*/

#Main-Container {
  margin: 150 auto;
  width: 600px;
  margin-left: 50px;
  
}
table {
  width: 928px;
  background-color: rgb(192, 138, 194);
  text-align: left;
  border-collapse: collapse;
  
}
th,
td {
  border: 1px solid black;
  padding: 20px;
  font-family: 'Trade Winds' ;
 
}
thead {
  background-color: rgb(170, 67, 170);
  border-bottom: 5px solid rgb(140, 95, 145);
  color: white;
}
tr:nth-child(even) {
  background-color: rgb(231, 148, 213);
}
.productosDISP:hover {
  background-color: rgb(91, 236, 72);
  color: white;
}
.productosNOdisp:hover {
  background-color: rgb(255, 9, 9);
  color: white;
}

.imagen-tabla{
    position: absolute;
    height: 18px;
    border: none;
    transition:  0.5s ;
   
}

.imagen-tabla:hover{
    background-image: url(../Recursos/Categorias/complementos/Bandejas/BandejasGruesasRedondasDoradas/bandeja2.jpg);
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 60px;
    transform: scale(1.5);
    color: transparent;
  
}

.container .list-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
}
.container .list-img li {
  margin-right: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.container .list-img li .container-img {
  position: relative;
  width: 250px;
  height: 230px;

  background-color: rgb(151, 120, 189);
  border-radius: 3px;
}
.container .list-img li .container-img img {
  position: relative;
  width: 250px;
  height: 150px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.container .list-img li .container-img .informacion-img {
  position: absolute;
  /* bottom: 0; */
  width: 150px;
  height: 400px;
  background-color: none;
}
.container .list-img li .container-img .informacion-img .nombre-img {
  font-family: 'Trade Winds' ;
  font-size: 11px;

  margin-left: 8px;
}
.container .list-img li .container-img .informacion-img .info {
  position: relative;
  display: block;
  text-decoration: none;
  color: rgb(129, 36, 91);
  font-family: 'Trade Winds' ;
  font-size: 12px;
  padding: 6px 12px;
  padding-bottom: 2px;
  border-radius: 90px;
  border: 2px solid rgb(103, 21, 151);
  height: 15px;
  width: auto;
  text-align: center;
  line-height: 15px;
}

.info:hover {
  background-color: chartreuse;
}


