
/* ESTE CSS ES LA PARTE DE LOS PRECIOS (LA TABLA)*/

#Main-Container{
    margin: 150 auto;
    width: 600px;
}
table{
    width: 928px;
    background-color: rgb(175, 81, 81);
    text-align: left;
    border-collapse: collapse;
}
th, td{
    border:1px solid black;
    padding: 20px;
}
thead{
    background-color: rgb(146, 95, 194);
    border-bottom: 5px solid rgb(140, 95, 145);
    color: white;
}
tr:nth-child(even){
    background-color: rgb(178, 86, 190);

}
tr:hover{
    background-color: turquoise;
    color: white;
}

/* ESTE CSS ES LA PARTE DE LOS PRODUCTOS lAS IMAGENES*/
/*
.container{
    
    top: 20px;
    width: 90%;
    height: 250px;
    color: red;
    margin: auto;
}
*/
.container .list-img{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    float: left;
   
    justify-content: space-between;
}
.container .list-img li{
    margin-right: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.container .list-img li .container-img{
    position: relative;
    width: 250px;
    height: 230px;
    background-color: rgb(151, 120, 189);
    border-radius: 3px;
}
.container .list-img li .container-img img{
    position: relative;
    width: 250px;
    height: 150px;
    border-top-right-radius: 3px;
    border-top-left-radius:3px ;
}
.container .list-img li .container-img .informacion-img{

    position: absolute;
    /* bottom: 0; */
    width: 100px;
    height: 40px;
    background-color:none;
}
.container .list-img li .container-img .informacion-img .nombre-img{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 8px;
}
.container .list-img li .container-img .informacion-img .info{
    position: relative;
    display: block;
    text-decoration: none;
    color: rgb(129, 36, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    padding-bottom: 2px;
    border-radius: 90px;
    border: 2px solid rgb(103, 21, 151);
    height: 15px;
    width: auto;
    line-height: 15px;
}

.info:hover{
    background-color: chartreuse;
}



