.cajaheader{
    background-color: rosybrown;
    border-color:solid 1px rosybrown;
    color: rgb(15, 14, 14);
    height: 150px;
    width: 1900px;
    text-align: center;

}
.cajamenu{
    background-color: rgb(216, 25, 206);
    border-color: darkmagenta;
    color: white;
    height: 600px;
    width: 20%;
}
table{
    border-collapse: collapse;
}
.cajaproductos{
    width: 520px;
    height: 300px;
    border: 1px solid black;
    
    background-color: teal;
}
.cajanoticias{
    width: 500px;
    height: 600px;
    background-color: violet;

}
.cajafooter{
    width: 1900px;
    background-color: cadetblue;
    height: 200px;
}

.palabrasmenu{
    list-style: none;
    text-align: justify;
    font-size: 40px;
    padding-right: 100px;
}














div#inicio > .texto.bg-color > h1#texto.estilo{
    font-size: 32px;
    text-decoration: underline;
    color: white;
    background-color: coral;
}





